.ad-designer {
    margin-left: 20px;
}

h2 {
    width: 100vw;
    font-family: 'Caveat', cursive;
    font-size: 50px;
    margin-bottom: 20px;
}

p {
    text-align: center;
}

button {
    margin-right: 10px;
    padding: 8px;
    color: white;
    font-size: medium;
    background-color: #1e60a9;
    border: none;
    border-radius: 5px;
    align-self: start;
}

p.flavor {
    font-family: 'Caveat', cursive;
    font-size: 70px;
    margin: 0;
}

/* p.count {
    text-align: left;
} */

div.counter {
    display: flex;
    align-items: center;
}

.ad-box {
    width: 250px;
    height: 150px;
    background-color: #222;
    color: #fff;
    border: 5px solid white;
    box-shadow: 0 0 10px black;
    justify-content: center;
    align-items: center;
}

.dark-theme {
    background-color: white;
    color: #000;
    border: 5px solid #222;
    box-shadow: 0 0 10px black;
}

.button-picked {
    background-color: gray;
}
